/* You can add global styles to this file, and also import other style files */

@import "~material-design-icons/iconfont/material-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#container {
    padding: 20px 38px;
}

.mat-table {
    width: 100%;
}

//ocultar o botão "excluir" da tabela 
.mat-row {
    button {
        visibility: hidden} 

// estado do mouse
    &:hover { 
      filter: brightness(110%);
      button {visibility: visible}
            
    }
}